:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;

  color-scheme: light dark;
  background-color: var(--eggshell);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --rorange: #F24711;
  --pinkish: #FFE7DE;
  --white: #FFFFFF;
  --black: #000000;
  --eggshell: #F7FAF2;
  --calgaryblue: #0C47C7;
  --skyblue: #D6E6F8;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.btn-blue {
  background-color: var(--eggshell);
  border: 1px solid var(--calgaryblue);
  border-radius: 100px;
  color: var(--calgaryblue);
  width: 120px;
  height: 30px;
  font-size: 18px;
}

.btn-blue:hover {
  background-color: var(--calgaryblue);
  color: var(--white);
  cursor: pointer;
}

/* Reminder: add brand typography */