.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    margin: 0;
}

.nav-logo-container {
    display: flex;
    align-items: center;
}

.nav-links-container {
    display: flex;
    list-style: none;
    gap: 3rem;
}

.nav-logo {
    display: flex;
    align-items: center;
    height: 40px;
}

.nav-link {
    text-decoration: none;
    color: var(--black);
}

.nav-item {
    padding: 7px 10px;
    margin: 10px 0px;
}

.nav-btn {
    height: auto;
}